.react-datepicker-wrapper,
.react-datepicker__input-container {
    width: 100%;
}

.form-input-error {
    color: red;
}

.invalid-feedback {
    display: block;
}

.input-invalid {
    border-color: #dc3545;
}